:root {
    --bgSection: #EDF2EC;
    --linksNav: #010201;
    --mainOrange: #E06733;
    --mainGreen: #499A18;
    --lightGray: #717171;
    --darkGray: #636060;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    background-color: var(--bgSection);

    width: 1440px;
    height: 134px;
}

main {
    width: 1440px;
    margin: auto;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    width: 1120px;
    margin-left: 111px;
   
    background-color: var(--bgSection);

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left; 
}

nav {
    display: flex;
    flex-grow: none;
    flex-shrink: none;
    justify-content: space-between;

    width: 452px;
    height: 50px;

}


.logo {
    flex-grow: none;
    flex-shrink: none;
}

.logo1 {
    width: 9.92px;
    height: 17.28px;
    margin: 0px;

    position: relative;
    
    top: 0.05;
}

.logo2 {
    width: 19px;
    height: 20px;
    margin: 0px;

    position: relative;
    left: -12px;
}

.logoText {
    display: inline-block;

    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    margin-left: -9px;
}

.linksNav {

    color: var(--linksNav);

    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

#welcome {
    display: flex;
    justify-content: space-between;

    height: 532px;
    width: 1440px;

    margin: 0px;
    padding: 0px;
    background-color: var(--bgSection);
}

.leafs {
    width: 448.8px;
    height: 407.36px;

    margin: 62px 109px;
}
.welcomeText {
    margin-right: 109px;
    margin-top: 98px;
    height: 340px;
    width: 549px;
    padding: 0px;
}

.welcomeText h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;

    margin: 0px;

    color: var(--lightGray);
}

.welcomeText p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

    width: 525.44px;
    height: 105px;

    color: var(--darkGray);

    margin: 42px 0px 48px;

}

.welcomeText input {
    box-sizing: border-box;
    width: 158px;
    height: 44px;
    margin: 0px;

    background: none;
    border: 2px solid var(--mainOrange);
    border-radius: 10px;       
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000
}


.welcomeText input:hover {
    box-sizing: border-box;
    width: 158px;
    height: 44px;
    margin: 0px;

    background: var(--mainOrange);
    border: 2px solid var(--mainOrange);
    border-radius: 10px;       
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    background-color: #FFFFFF;
    width: 1440px;
    height: 666px;

    margin: 0;
    padding: 93px 109px;
}   

#about .aboutText {
    width: 605px;
    height: 350px;
    padding: 0;
}

.aboutText h2 {
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;

    width: 463px;
    height: 102px;

    margin: 0px 0px 40px;

    color: var(--mainGreen);

}

.aboutText p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    width: 605px;
    height: 208px;
    margin: 0px;

    color: var(--darkGray);
}

#about img {
    width: 464px;
    height: 479px;  
}

#service {
    box-sizing: border-box;
    background-color: var(--bgSection);
    
    width: 1440px;
    height: 1300px; 

    padding: 40px 109px;
}

.services_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1007px;
    height: 94px;

    margin-bottom: 90px;
    border: 1px solid black;
}

.services_content h2 {
    width: 306px;
    height: 94px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: var(--mainGreen);
}

.services_btns {
    display: flex;
    justify-content: space-between;

    width: 559px;
    height: 50px;
}

.services_btns input {
    width: 161px;
    height: 50px;

    margin: 0;
    
    background: none;
    border: 1px solid var(--mainOrange);
    border-radius: 5px;
    color: var(--mainOrange);
}

.services_btns input:hover {
    width: 161px;
    height: 50px;

    margin: 0;
    
    background: var(--mainOrange);
    border: 1px solid var(--mainOrange);
    border-radius: 5px;
    color: #FFFFFF;
}

.services {
    border: 1px solid royalblue;

    display: flex;
    flex-wrap: wrap;

    align-items:flex-start;
    justify-content: space-between;
    align-content: space-between;

    margin: 0px;
    width: 1222px;
    height: 955px;
}

.service_item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.service_item img {
    margin: 0;

    width: 330px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}

.service_item .card {
    box-sizing: border-box;
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.service_item .card h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
    margin: 10px;

    color: var(--mainOrange);
}

.service_item .card p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: var(--lightGray);

    text-align: center;
    margin: 0px;
}